* {
    box-sizing: border-box;
    font-family: monospace;
    background-color: rgb(235, 241, 241);;
}


.headers{
    width: 100%;
    height: 300px;
    background-image: url(assets/images/guinchomain-cropped.png);
    background-position: center center;
    background-size: cover;
}

.botaoLogin{
    border-radius: 100%;
    object-fit: cover;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 3%;
}

main{
    display: flex;
}

main > * {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 15%;
}
.main-content-container {
    flex-shrink: 2;
    flex-grow: 3;
    flex-basis: 60%;
    background-color: rgb(143, 200, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 860px) {
    .left{
        display: none;
    }
    .right{
        display: none;
    }
}


.main-content-container  *{ 
    background-color: rgb(143, 200, 204);
}

.assets-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.images-container {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
}

.icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icons-container > * {
    justify-content: space-around;
}

.login-container {
    background-color: rgb(0, 200, 220);
    display: flex;
    justify-content: flex-end;
}

.schedulings-container > div {
    background-color: green;
    border-radius: 15px;
    border: 3px solid orange;
    padding: 10px;
    width: fit-content;
}

.schedulings-container {
    max-width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);    
    background-color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-size: 100px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin: 0;
}
.square-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.square-icons > *{
    width: 20%;
    height: auto;
    object-fit: cover;
}

.big-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.big-icons > *{
    width: 75%;
}

@media only screen and (max-width: 480px) {
    img {
        width: 100px;
    }

    .big{
        width: 400px;
    }

}

 .agendamento {
    padding: 5px 10px;
    margin-top: 10px;
    width: 100%;
    border: none;
    outline:none;
    background-color: rgb(61, 34, 161);
    color: white;
    font-size: 20px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: rgb(40, 16, 128);
}

.mapa{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mapa > * {
    padding: 20px;
    border-color: black ;
    border-style: solid;
}

.zapzap {
    border-radius: 50%;
    object-fit: cover;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 10%;
}

@media only screen and (max-width: 1100px) {
.zapzap{
    width: 100px;
}
}
