* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(235, 241, 241);
}


.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px 10px;
    margin-top: 5px;
    width: 300px;
    border: none;
    outline:none;
    background-color: rgb(61, 34, 161);
    color: white;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: rgb(40, 16, 128);
}

h1 {
    font-family: monospace;
    font-size: 25px;
    color: rgb(17, 0, 114);
    text-align: center;
}

p {
    font-family: monospace;
    font-size: 15px;
    display: inline-block;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.day-info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.day-container {
    min-width: 70%;
    display: flex;
    flex-direction: row;
}

#add-bt {
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
}