* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(235, 241, 241);
}

div { 
    background-color: rgb(143, 200, 204);
    padding: 25px;
    border-radius: 10px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); }

input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    font-family: monospace;
}

input:hover {
    border-bottom-color: rgb(28, 25, 201);
}

button {
    padding: 5px 10px;
    margin-top: 5px;
    width: 100%;
    border: none;
    outline:none;
    background-color: rgb(61, 34, 161);
    color: white;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: rgb(40, 16, 128);
}

h1{
    font-family: monospace;
    font-size: 25px;
    color: rgb(17, 0, 114);
}

label{
    font-family: monospace;
    font-size: 18px;
}

p{
    font-family: monospace;
    font-size: 15px;
    display: inline-block;
}

.cadastro{
    width: 100px;
    display: inline-block;
}

select{
    padding: 5px 10px;
    margin: auto;
    margin-bottom: 8px;
    width: 100%;
    border: none;
    outline:none;
    color: black;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    font-family: monospace;
}